*{
    margin: 0;
    padding: 0;
}
body {
    background-color : rgb(46, 42, 42);
}
.container{
    margin: auto;
    width: 50%;
    height: 50%;
    display: block;
}
.slider{
    width : 100%;
    /* height: 100%; */
    background-color: aqua;
    display: inline-block;
}
.options{
    width : 100%;
    height: 70px;
    display: inline-block;
}
.line{
    width : 100%;
    height: 30px;
    background-color: rgb(137, 211, 53);
    display: inline-block;
}
.pointer{
    display: inline-block;
    width: 20px;
    height: 30px;
    background-color: brown;
    position: relative;
}