body {
    background-color : rgb(46, 42, 42);
}
.rangeSliderContainer{
    width: 70%;
    margin: auto;
}
.rangeLine{
    background-color: aqua;
    width: 100%;
    height: 40px;
}
.leftPointer{
    background-color: cornflowerblue;
    width: 20px;
    height: 40px;
}